/* Variables CSS */
:root {
    --primary-color: #1c3c2c;
    --primary-dark: #0e2018;
    --secondary-light-green: #7aae89;
    --tertiary-color: #708c7c;
    --complementary-green: #4a7c59; /* Verde medio, complementario */

    --background-grad: linear-gradient(
        0deg,
        rgba(28, 60, 44, 1) 0%,
        rgba(37, 87, 61, 1) 43%,
        rgba(98, 165, 125, 1) 100%
    );
    --background-color: #3c3744;
    --pastel-green: #c8e6c9; /* Verde pastel, acento suave */
    --dark: #050505; /* Verde intenso, acento fuerte */
}
