.homeMainContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
    transition: all 0.5s ease-out;
    background: #000000ab;
}

.homeMainContainer::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url('../../public/assets/images/backgrounds/sitrobg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    filter: blur(0.7px);
}

.homeContainer {
    container-type: inline-size;
    container-name: homeContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
    gap: 3em;
    padding: 0 5em;
    transition: all 0.5s ease-out;
    flex: 4;
    min-width: 0;
}

.homeContainerLogo {
    width: 13em;
    height: auto;
    /* Control de color del SVG */
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

.homeContainerLogo:hover {
    filter: brightness(0) invert(1)
        drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.homeContainerTitle {
    display: inline-flex;
    font-size: 7em;
    white-space: nowrap;
}

@container homeContainer (width < 1000px) {
    .homeContainerLogo {
        width: 9em;
    }
}
.homeContainerButtons {
    display: flex;
    gap: 4rem;
}

.btn {
    width: 10em;
    font-family: 'GFS Didot';
    font-size: 1.5em;
    color: inherit;
    padding: 0.7em 0;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--dark);
}
