.homeMainContainer {
    display: flex;
    height: 100vh;
    background: var(--primary-color);
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.homeContainer {
    container-type: inline-size;
    container-name: homeContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: white;
    gap: 3em;
    padding: 0 5em;
    transition: all 0.5s ease-out;
    flex: 4;
    min-width: 0;
}
.homeContainerIcon {
    width: 1em;
    height: 1em;
    margin: 0 0.2em;
    fill: white;
}

.homeContainerTitle {
    display: inline-flex;
    font-size: 7em;
    white-space: nowrap;
}

@container homeContainer (width < 1000px) {
    .homeContainerIcon {
        width: 1em;
        height: 1em;
    }
    .homeContainerTitle {
        font-size: 6em;
    }
}
.homeContainerButtons {
    display: flex;
    gap: 4rem;
}

.btn {
    width: 13em;
    font-family: 'GFS Didot';
    font-size: 1.5em;
    color: inherit;
    padding: 0.7em 0;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--dark);
}
