.loginContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--dark);
    justify-content: center;
    align-items: center;
}

.loginContent {
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0% 5%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--tertiary-color);
    border: 0.1em solid var(--complementary-green);
}

.loginTitle {
    font-size: 4.6em;
    text-align: center;
    color: white;
}

.loginForm {
    display: flex;
    width: 100%;
    margin-top: 4em;
    align-items: center;
    flex-direction: column;
    gap: 3em;
}

input {
    font-size: 1.2em;
    padding: 0.9em;
    border-radius: 3em;
    width: 100%;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submitButton {
    font-size: 1em;
    color: var(--dark);
    background: white;
    padding: 1em 3.2em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background-color: var(--dark);
    color: white;
}
