.loginContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* fondo de patron con animación */
.loginContent::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: rgb(5, 114, 69);
    background-image: var(--icon-bg);
    background-size: 10em 10em;
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.3;
    animation: backgroundMove 20s linear infinite;
}

/* Animación para mover el patrón */
@keyframes backgroundMove {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10em 10em;
    }
}

.loginContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 0% 5%;
    height: 85%;
    background: #000;
    border-radius: 0.6em;
}

.loginTitle {
    font-size: 4.6em;
    text-align: center;
    color: white;
}

.loginForm {
    display: flex;
    width: 100%;
    margin-top: 3em;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.inputLogin {
    font-family: 'GFS Didot', serif;
    width: 100%;
    font-size: 1.2em;
    padding: 0.9em;
    border-radius: 3em;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    letter-spacing: 0.03em;
    border: none;
}

.inputLoginLabel {
    font-size: 1.1em;
    color: white;
    padding-left: 0.6em;
}

.inputLogin:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.inputLogin::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-size: 0.9em;
}

.inputLoginGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputLoginContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.inputLoginIcon {
    position: absolute;
    left: 1em;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.inputLoginIcon svg {
    width: 1.25em;
    height: 1.25em;
    fill: rgba(255, 255, 255, 0.6);
}

.input-with-icon {
    padding-left: 2.6em;
}

.submitButtonLogin {
    font-size: 1em;
    background: transparent;
    color: white;
    padding: 1em 3.2em;
    border-radius: 2em;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 1em;
}

.submitButtonLogin:hover {
    color: var(--dark);
    background: white;
}
