@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import './styles/variables.css';
/* @import './styles/utilities.css'; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'GFS Didot';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}
